version: "3.9"

services:
  streamlit:
    build: .
    container_name: design-pathway-frontend
    expose:
      - "8501"
    networks:
      - design-pathway-net
    volumes:
      - ./:/app
    environment:
      FASTAPI_HEATMAP: "http://design-pathway-backend:8000/api/heatmap"
      FASTAPI_VOLCANO: "http://design-pathway-backend:8000/api/volcano"
      FASTAPI_ENHANCED: "http://design-pathway-backend:8000/api/volcano/enhanced"
      FASTAPI_PCA: "http://design-pathway-backend:8000/api/pca"
      FASTAPI_DEG: "http://design-pathway-backend:8000/api/deg"
      FASTAPI_ENRICHPLOT: "http://design-pathway-backend:8000/api/enrichplot"
      FASTAPI_CNETPLOT: "http://design-pathway-backend:8000/api/cnetplot"
      FASTAPI_EMAPPLOT: "http://design-pathway-backend:8000/api/emapplot"
      FASTAPI_GSEGO: "http://design-pathway-backend:8000/api/gsego"
      FASTAPI_GSEAPLOT: "http://design-pathway-backend:8000/api/gseaplot"
      FASTAPI_RIDGEPLOT: "http://design-pathway-backend:8000/api/ridgeplot"
      FASTAPI_PATHWAY_GENE: "http://design-pathway-backend:8000/api/pathway_gene"

  nginx:
    image: nginx:latest
    container_name: frontend-nginx
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt/live/app.fullseeomics.com:/etc/letsencrypt/live/app.fullseeomics.com:ro
    depends_on:
      - streamlit
    networks:
      - design-pathway-net

networks:
  design-pathway-net:
    external: true